@mixin input{
        border-radius: 10px;
        border: .3px solid gray;
        background-color: #fff;
        width: 100%;
        min-height: 3em;
        padding: 5px 20px;
        font-size: 1.3em;
        margin: 10px 0;
}
@mixin title {
        font-size: 2em;
        letter-spacing: 0.02em;
}
@mixin form{
        display: flex;
        flex-direction: column;
        height: 100%;
}
@mixin submit {
        background-color: white;
        border: .5px solid #ADADAD;
        border-radius: 50px;
        width: 50%;
        padding: 15px 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
}