.comments{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FBFBFD;
    overflow-y: scroll;
    padding-bottom: 15vh;
    z-index: 2;
    &__topBar{
        position: fixed;
        display: flex;
        align-items: center;
        top:0;
        width: 100%;
        border-bottom: 1px solid rgba(121, 121, 121,0.3);
        background-color: white;
        padding: 10px 20px;
        min-height: 50px;
        max-height: 60px;
    }
    &__title{
        margin: 0 1em;
        font-size: 1.3em;
        font-weight: 700;
    }
    &__backButtonImg{
        width: 1.4em;
    }
    &__list{
        margin-top: 65px;
        padding: 0 1em;
    }
}