.post{
    border: .5px solid #DFDFDF;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0;
    &__sex{
        width: 14%;
    }
    &__content{
        margin: 3% 2%;
        display: flex;
        flex-basis: 75%;
        flex-direction: column;
    }
    &__username{
        font-size: 1.1em;
        font-weight: 700;
        color: #4176FF;
    }
    &__postDate{
        color: gray;
        font-size: .9em;
    }
    &__reportButton{ 
        flex-basis: 5%;
    }
    &__body{
        font-size: 1.2em;
        margin: .5em 0;
    }
    &__image{
        width: 100%;
        border: 2px solid #4176FF;
        border-radius: 10px;
        max-height: 500px;
        object-fit: cover;
    }
    &__buttons{
        margin: 15px 0 5px 0;
        display: flex;
        width: 100%;
    }
    &__like{
        color: #5B5B5B;
        font-weight: 700;
        margin: 0 5px;
        font-size: 1.3em;
    }
    &__dislike{
        color: #5B5B5B;
        font-weight: 700;
        margin: 0 10px;
        font-size: 1.3em;
    }
    &__commentsButton{
        margin: 0 0 0 auto;
        color: #5B5B5B;
        font-weight: 700;
    }
    &__bottom{
        flex-basis: 100%;
    }
    &__hr{
        background-color: #DFDFDF;
    }
    &__votes{
        margin-top: .8em;
    }
    &__reactions{
       font-weight: 700; 
    }
    &__comments{
        margin-top: 1em;
    }
}