.messages{
    width: 95%;
    padding-bottom: 1%;
    overflow: hidden;
    flex: auto;
    border-bottom: .3px solid black;

    &__scrollButton{
        background-color: rgba(48, 120, 255, 0.5);
        border:1px solid rgba(0, 0, 0, 0.2);
    }
    &__loadMoreButton{
        margin: 50px 0;
    }
}
.react-auto-scroll{
    &__option{
        opacity: 0;
    }
}
