.createPost{
    width: 100%;
    height: 90%;
    &__button{
        border:none;
        background: none;
        position: fixed;
        right:15px;
        bottom: 15px;
        & img{
            width: 50px;
        }
    }
}