@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body,html{
    background-color: #FBFBFD;
    font-size: 13px;
}
input, textarea, button {
  outline: none;
}
 
input:focus, textarea:focus {
    border-bottom: 1px solid black;
}
button:focus{
    text-shadow: 0 0 .5px black;
}
ul{
    list-style: none;
}
button{
    border:none;
    background: none;
}
hr{
    border: none;
    height: 1px;
}